.section {
  padding: 1em 0;
}

.header {
  background: linear-gradient(to bottom, #337ab7 0%, #135a97 100%);
  color: white;
  padding: 1em 0 2em;
}

#chart svg {
  display: block;
  margin: 0 auto;
}

.circ { 
    stroke-width: 0;
    stroke-linecap: round;
    opacity: 0.6;
    fill: #1696d2;
 }

.line {
	stroke: black;
	stroke-width: 3;
	fill: none;
    opacity: 0.7;

}
